.panel {
  background: var(--canva-grey-dark);
  display: grid;
  grid-gap: var(--spacing-unit);
  grid-auto-rows: 6.25rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content;
  grid-auto-flow: row dense;
  min-width: 22.5rem;
  padding: calc(var(--spacing-unit) * 2) 20px;
}

.panel [data-columnspan="4"] {
  --column-span: 4
}

.panel [data-columnspan="5"] {
  --column-span: 5;
}

.panel [data-columnspan="6"] {
  --column-span: 6;
}

.panel [data-columnspan="7"] {
  --column-span: 7;
}
