.menu {
  background: var(--canva-dark);
  color: var(--canva-light);
  display: inline-flex;
  flex-flow: column;
  font-size: 0.625rem;
}

.menuItem {
  align-items: center;
  display: flex;
  flex-flow: column;
  opacity: 0.5;
  padding: calc(var(--spacing-unit) * 2) var(--spacing-unit);
  text-transform: uppercase;
  transition: opacity 0.15s var(--easing);
}

.menuItem:hover {
  cursor: pointer;
  opacity: 1;
}

.active {
  opacity: 1;
  position: relative;
}

.active::before {
  background: var(--canva-grey-dark);
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  mix-blend-mode: lighten;
}
